.receipt {

    &__btns-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 40px;
        gap: 25px;
    }

    &__btns {
        border: 3px solid;
        width: 220px;
        height: 50px;
        display: flex;
        /* align-self: center; */
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        font-size: 25px;
        color: #000000 !important;
        background-color: #f1c40f;

    }
}

.link {
    text-decoration: none;
    &:hover {
        background: rgb(174, 0, 255) !important;
        border-color: rgb(195, 0, 255) !important;
        cursor: pointer;
    }
}

.reset{
    &:hover {
        background: red !important;
        border-color: red !important;
        cursor: pointer;
    }
}